In [1]:
import pandas as pd

compteur= pd.read_csv("C:/Users/Administrateur/Downloads/comptage-velo-donnees-compteurs.csv",engine='python',error_bad_lines=False,delimiter=";")

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/Administrateur/Downloads/comptage-velo-donnees-compteurs.csv'

In [131]:
compteur.tail()

,Identifiant du compteur,Nom du compteur,Identifiant du site de comptage,Nom du site de comptage,Comptage horaire,Date et heure de comptage,Date d'installation du site de comptage,Lien vers photo du site de comptage,CoordonnÃ©es gÃ©ographiques
870354,100063173-SC,74 Boulevard Ornano S-N,100063173.0,74 Boulevard Ornano S-N,99.0,2020-11-18T07:00:00+01:00,2020-07-22,https://www.eco-visio.net/Photos/100063173/159...,"48.896825,2.345648"
870355,100063173-SC,74 Boulevard Ornano S-N,100063173.0,74 Boulevard Ornano S-N,84.0,2020-11-18T10:00:00+01:00,2020-07-22,https://www.eco-visio.net/Photos/100063173/159...,"48.896825,2.345648"
870356,100063173-SC,74 Boulevard Ornano S-N,100063173.0,74 Boulevard Ornano S-N,103.0,2020-11-18T15:00:00+01:00,2020-07-22,https://www.eco-visio.net/Photos/100063173/159...,"48.896825,2.345648"
870357,100063173-SC,74 Boulevard Ornano S-N,100063173.0,74 Boulevard Ornano S-N,71.0,2020-11-18T16:00:00+01:00,2020-07-22,https://www.eco-visio.net/Photos/100063173/159...,"48.896825,2.345648"
870358,100063173-SC,74 Boulevard Ornano S-N,100063173.0,74 Boulevard Ornano S-N,42.0,2020-11-18T22:00:00+01:00,2020-07-22,https://www.eco-visio.net/Photos/100063173/159...,"48.896825,2.345648"

In [132]:
compteur.shape

(870359, 9)

### select right columns

In [133]:
compteur=compteur[["Nom du compteur","Comptage horaire","Date et heure de comptage","CoordonnÃ©es gÃ©ographiques"]]

In [134]:
compteur.tail()

,Nom du compteur,Comptage horaire,Date et heure de comptage,CoordonnÃ©es gÃ©ographiques
870354,74 Boulevard Ornano S-N,99.0,2020-11-18T07:00:00+01:00,"48.896825,2.345648"
870355,74 Boulevard Ornano S-N,84.0,2020-11-18T10:00:00+01:00,"48.896825,2.345648"
870356,74 Boulevard Ornano S-N,103.0,2020-11-18T15:00:00+01:00,"48.896825,2.345648"
870357,74 Boulevard Ornano S-N,71.0,2020-11-18T16:00:00+01:00,"48.896825,2.345648"
870358,74 Boulevard Ornano S-N,42.0,2020-11-18T22:00:00+01:00,"48.896825,2.345648"

### check if 2 columns are equals

In [109]:
compteur.shape

(870359, 4)

###  drop null value from value

In [137]:
#print(compteur[compteur.isnull()])
compteur=compteur.dropna(subset=["Comptage horaire"])
compteur.isnull().sum()

Nom du compteur                    0
Comptage horaire                   0
Date et heure de comptage          0
CoordonnÃ©es gÃ©ographiques    37039
dtype: int64

In [111]:
compteur.shape

(870359, 4)

### rename columns

In [138]:
compteur.columns=['address','traffic',"date","gps"]

In [139]:
compteur.tail()

,address,traffic,date,gps
870354,74 Boulevard Ornano S-N,99.0,2020-11-18T07:00:00+01:00,"48.896825,2.345648"
870355,74 Boulevard Ornano S-N,84.0,2020-11-18T10:00:00+01:00,"48.896825,2.345648"
870356,74 Boulevard Ornano S-N,103.0,2020-11-18T15:00:00+01:00,"48.896825,2.345648"
870357,74 Boulevard Ornano S-N,71.0,2020-11-18T16:00:00+01:00,"48.896825,2.345648"
870358,74 Boulevard Ornano S-N,42.0,2020-11-18T22:00:00+01:00,"48.896825,2.345648"

### convert trafic type in int

In [140]:
compteur["traffic"]=compteur["traffic"].apply(lambda x:int(x))

In [141]:
compteur.tail()

,address,traffic,date,gps
870354,74 Boulevard Ornano S-N,99,2020-11-18T07:00:00+01:00,"48.896825,2.345648"
870355,74 Boulevard Ornano S-N,84,2020-11-18T10:00:00+01:00,"48.896825,2.345648"
870356,74 Boulevard Ornano S-N,103,2020-11-18T15:00:00+01:00,"48.896825,2.345648"
870357,74 Boulevard Ornano S-N,71,2020-11-18T16:00:00+01:00,"48.896825,2.345648"
870358,74 Boulevard Ornano S-N,42,2020-11-18T22:00:00+01:00,"48.896825,2.345648"

### convert type columns gps to str for apply extraction

In [144]:
compteur["gps"]=compteur["gps"].apply(lambda x:str(x))

In [142]:
compteur["gps"].value_counts()

48.83436,2.377        19913
48.840801,2.333233    19913
48.846028,2.375429    19913
48.82636,2.30303      19912
48.891415,2.384954    19912
                      ...
48.851525,2.343298     4389
48.89696,2.34538       2877
48.896825,2.345648     2877
48.84638,2.31529       2642
48.87746,2.35008        146
Name: gps, Length: 69, dtype: int64

### extract x,y from GPS

In [159]:

compteur=compteur.dropna(subset=["gps"])

In [177]:
compteur["gps_x"]=compteur["gps"].apply(lambda x:x.split(",")[0])
compteur["gps_y"]=compteur["gps"].apply(lambda x:x.split(",")[-1])

In [178]:
compteur.tail()

,address,traffic,date,gps,gps_x,gps_y
870354,74 Boulevard Ornano S-N,99,2020-11-18T07:00:00+01:00,"48.896825,2.345648",48.896825,2.345648
870355,74 Boulevard Ornano S-N,84,2020-11-18T10:00:00+01:00,"48.896825,2.345648",48.896825,2.345648
870356,74 Boulevard Ornano S-N,103,2020-11-18T15:00:00+01:00,"48.896825,2.345648",48.896825,2.345648
870357,74 Boulevard Ornano S-N,71,2020-11-18T16:00:00+01:00,"48.896825,2.345648",48.896825,2.345648
870358,74 Boulevard Ornano S-N,42,2020-11-18T22:00:00+01:00,"48.896825,2.345648",48.896825,2.345648

### Extract date & hour

In [179]:
compteur["hour"]=compteur["date"].apply(lambda x:x.split("T")[1])

In [180]:
compteur["date"]=compteur["date"].apply(lambda x:x.split("T")[0])

In [182]:
compteur["hour"]=compteur["hour"].apply(lambda x:x.split("+")[0])

In [183]:
compteur['date']=pd.to_datetime(compteur['date'].astype(str), format='%Y/%m/%d')

### exemple final dataset traffic

In [184]:
compteur.tail()

,address,traffic,date,gps,gps_x,gps_y,hour
870354,74 Boulevard Ornano S-N,99,2020-11-18,"48.896825,2.345648",48.896825,2.345648,07:00:00
870355,74 Boulevard Ornano S-N,84,2020-11-18,"48.896825,2.345648",48.896825,2.345648,10:00:00
870356,74 Boulevard Ornano S-N,103,2020-11-18,"48.896825,2.345648",48.896825,2.345648,15:00:00
870357,74 Boulevard Ornano S-N,71,2020-11-18,"48.896825,2.345648",48.896825,2.345648,16:00:00
870358,74 Boulevard Ornano S-N,42,2020-11-18,"48.896825,2.345648",48.896825,2.345648,22:00:00

In [185]:
compteur["date"].max()

Timestamp('2020-11-18 00:00:00')

In [186]:
compteur["date"].min()

Timestamp('2019-10-01 00:00:00')

In [187]:
compteur.to_csv("C:/Users/Administrateur/Documents/bike_project/traffic.csv", sep=";", encoding="utf-8")