In [ ]:
#this notebook helps us to extract the district of each street in Paris

In [148]:
import pandas as pd 
file_adress=pd.read_csv("C:/Users/Administrateur/Downloads/adresse_paris.csv",delimiter=";")

In [149]:
file_adress.head()

,Geometry X Y,Geometry,N_SQ_AD,N_VOIE,C_SUF1,C_SUF2,C_SUF3,C_AR,A_NVOIE,B_ANGLE,B_OFFSTDF,B_AFFSTDF,B_HORS75,L_NVOIE,L_ADR,N_SQ_AR,N_SQ_VO,OBJECTID
0,"48.8966373164,2.34356236232","{""type"": ""Point"", ""coordinates"": [2.3435623623...",750162535,2,NaN,NaN,NaN,18.0,158.0,O,O,N,N,2,2 IMP SAINTE-HENRIETTE,750000018.0,750002696,14565
1,"48.8449600246,2.37325960617","{""type"": ""Point"", ""coordinates"": [2.3732596061...",750151804,6,NaN,NaN,NaN,12.0,230.0,N,O,NaN,N,6,6 PL LOUIS ARMAND,750000012.0,750003165,14603
2,"48.8838896035,2.37937691266","{""type"": ""Point"", ""coordinates"": [2.3793769126...",750014432,38,NaN,NaN,NaN,19.0,298.0,N,O,NaN,N,38,38 RUE CAVENDISH,750000019.0,750005328,14605
3,"48.8765136996,2.38707551063","{""type"": ""Point"", ""coordinates"": [2.3870755106...",750016002,14,NaN,NaN,NaN,19.0,338.0,N,O,NaN,N,14,14 RUE FESSART,750000019.0,750005279,14662
4,"48.8431297641,2.31714152829","{""type"": ""Point"", ""coordinates"": [2.3171415282...",750160967,26,NaN,NaN,NaN,15.0,347.0,N,O,NaN,N,26,26 RUE ANTOINE BOURDELLE,750000015.0,750002001,14679

### Split gps coordinate

In [150]:
file_adresse1=file_adress[["Geometry X Y","C_AR","L_ADR"]]
file_adresse1

                       Geometry X Y  C_AR                     L_ADR
0       48.8966373164,2.34356236232  18.0    2 IMP SAINTE-HENRIETTE
1       48.8449600246,2.37325960617  12.0         6 PL LOUIS ARMAND
2       48.8838896035,2.37937691266  19.0          38 RUE CAVENDISH
3       48.8765136996,2.38707551063  19.0            14 RUE FESSART
4       48.8431297641,2.31714152829  15.0  26 RUE ANTOINE BOURDELLE
...                             ...   ...                       ...
148509  48.8459406723,2.25584165604  16.0  16 AV DU GENERAL SARRAIL
148510   48.829932441,2.34977750131  13.0     50 BD AUGUSTE BLANQUI
148511   48.825270466,2.36275485871  13.0        71 RUE BAUDRICOURT
148512  48.8648856968,2.28152201717  16.0            14 RUE DECAMPS
148513  48.8748775397,2.34533575118   9.0         35 RUE DE TREVISE

[148514 rows x 3 columns]

In [151]:
file_adresse1["gsp_x"]=file_adresse1["Geometry X Y"].apply(lambda x:x.split(",")[0])
file_adresse1["gps_y"]=file_adresse1["Geometry X Y"].apply(lambda x:x.split(",")[1])

<ipython-input-151-855a93127505>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_adresse1["gsp_x"]=file_adresse1["Geometry X Y"].apply(lambda x:x.split(",")[0])
<ipython-input-151-855a93127505>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_adresse1["gps_y"]=file_adresse1["Geometry X Y"].apply(lambda x:x.split(",")[1])

### check null value

In [152]:
file_adresse1=file_adresse1.dropna(subset=["C_AR"])

In [153]:
print(file_adresse1[file_adresse1["C_AR"].isnull()])

Empty DataFrame
Columns: [Geometry X Y, C_AR, L_ADR, gsp_x, gps_y]
Index: []

### format Zip code

In [154]:
file_adresse1["zip_code"]=file_adresse1["C_AR"].apply(lambda x:int(x)+75000)

<ipython-input-154-9ecfc37be6a6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_adresse1["zip_code"]=file_adresse1["C_AR"].apply(lambda x:int(x)+75000)

In [155]:
file_adresse1.head()

,Geometry X Y,C_AR,L_ADR,gsp_x,gps_y,zip_code
0,"48.8966373164,2.34356236232",18.0,2 IMP SAINTE-HENRIETTE,48.8966373164,2.34356236232,75018
1,"48.8449600246,2.37325960617",12.0,6 PL LOUIS ARMAND,48.8449600246,2.37325960617,75012
2,"48.8838896035,2.37937691266",19.0,38 RUE CAVENDISH,48.8838896035,2.37937691266,75019
3,"48.8765136996,2.38707551063",19.0,14 RUE FESSART,48.8765136996,2.38707551063,75019
4,"48.8431297641,2.31714152829",15.0,26 RUE ANTOINE BOURDELLE,48.8431297641,2.31714152829,75015

### Clean Adsress

### delete number in address

In [158]:
file_adresse1["address"]=file_adresse1["L_ADR"].apply(lambda x:x.split(" ")[1::])

<ipython-input-158-91af4a43ca87>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_adresse1["address"]=file_adresse1["L_ADR"].apply(lambda x:x.split(" ")[1::])

In [159]:
file_adresse1["address_filter1"]=file_adresse1["L_ADR"].apply(lambda x: x.isalpha())

<ipython-input-159-e23ef23d543b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_adresse1["address_filter1"]=file_adresse1["L_ADR"].apply(lambda x: x.isalpha())

In [160]:
file_adresse1.head()

,Geometry X Y,C_AR,L_ADR,gsp_x,gps_y,zip_code,address_filter1,address
0,"48.8966373164,2.34356236232",18.0,2 IMP SAINTE-HENRIETTE,48.8966373164,2.34356236232,75018,False,"[IMP, SAINTE-HENRIETTE]"
1,"48.8449600246,2.37325960617",12.0,6 PL LOUIS ARMAND,48.8449600246,2.37325960617,75012,False,"[PL, LOUIS, ARMAND]"
2,"48.8838896035,2.37937691266",19.0,38 RUE CAVENDISH,48.8838896035,2.37937691266,75019,False,"[RUE, CAVENDISH]"
3,"48.8765136996,2.38707551063",19.0,14 RUE FESSART,48.8765136996,2.38707551063,75019,False,"[RUE, FESSART]"
4,"48.8431297641,2.31714152829",15.0,26 RUE ANTOINE BOURDELLE,48.8431297641,2.31714152829,75015,False,"[RUE, ANTOINE, BOURDELLE]"

### Final clean dataset with the right columns

In [166]:
address=file_adresse1[["L_ADR","zip_code","gsp_x","gps_y"]]
address.columns = ['adsress','zip_code',"gsp_x","gps_y"]
print(address.head())
print(address.shape)

                    adsress  zip_code          gsp_x          gps_y
0    2 IMP SAINTE-HENRIETTE     75018  48.8966373164  2.34356236232
1         6 PL LOUIS ARMAND     75012  48.8449600246  2.37325960617
2          38 RUE CAVENDISH     75019  48.8838896035  2.37937691266
3            14 RUE FESSART     75019  48.8765136996  2.38707551063
4  26 RUE ANTOINE BOURDELLE     75015  48.8431297641  2.31714152829
(148308, 4)

In [169]:
#export to csv 
address.to_csv("C:/Users/Administrateur/Documents/bike_project/address.csv", sep=";", encoding="utf-8")

### exemple final csv

In [170]:
df=pd.read_csv("C:/Users/Administrateur/Documents/bike_project/address.csv", delimiter=";",index_col=0)
df.head()

                    adsress  zip_code      gsp_x     gps_y
0    2 IMP SAINTE-HENRIETTE     75018  48.896637  2.343562
1         6 PL LOUIS ARMAND     75012  48.844960  2.373260
2          38 RUE CAVENDISH     75019  48.883890  2.379377
3            14 RUE FESSART     75019  48.876514  2.387076
4  26 RUE ANTOINE BOURDELLE     75015  48.843130  2.317142

In [ ]:
#folium